@use "../Abstract/functions" as func;


.homepage {
  padding: 0 func.fluid(16, 7vw, 80) func.rem(24);

  &__maxwidth {
    max-width: func.rem(1600);
    margin: 0 auto;
  }
}

.navigation {
  margin-bottom: func.rem(32);
}

.searchbar {
  $root: &;
  background-color: var(--element);
  color: var(--input);
  font-size: func.fluid(12, 3vw, 16);
  margin-bottom: func.rem(40);
  transition: background-color .4s ease,
              color .4s ease;

  &__wrapper {
    position: relative;

    &:focus-within {

      #{$root}__reset {
        opacity: 1;
        visibility: visible;
      }
    }
  }

  &__input {
    border-radius: 4px;
    background-color: transparent;
    box-shadow: 0 0 6px 2px rgba(48, 48, 48, 0.1);
    color: var(--input);
    font-weight: 600;
    height: func.fluid(48, 8vw, 56);
    padding: 0 0 0 func.rem(74);
    transition: color .4s ease;
    width: 100%;

    &.typing,
    &:focus {
      
      + #{$root}__label {
        left: func.rem(70);
        transform: translateY(-160%) scale(.9);
      }
    }
  }

  &__label {
    left: func.rem(74);
    position: absolute;
    pointer-events: none;
    top: 50%;
    transform: translateY(-50%);
    transition: transform .3s ease,
                left .3s ease;
  }

  &__icon {
    height: func.fluid(14, 3vw, 16);
    left: func.rem(32);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: func.fluid(14, 3vw, 16);;

    path {
      fill: var(--input);
      transition: fill .4s ease;
    }
  }

  &__reset {
    background-color: transparent;
    opacity: 0;
    position: absolute;
    right: func.rem(32);
    top: 50%;
    transform: translateY(-50%);
    transition: opacity .3s ease,
                visibility .3s ease;
    visibility: none;

    &:focus-visible {
      
      svg {
        transform: rotate(25deg);
      }
    }
  }

  &__reset-icon {
    transition: transform .3s ease;

    path {
      fill: var(--input);
      transition: fill .3s ease;
    }
  }
}

.filterbar {
  $root: &;

  &__container {
    position: relative;
  }

  &__toggler {
    background-color: var(--element);
    box-shadow: 0 0 6px 2px rgba(48, 48, 48, 0.1);
    border-radius: 4px;
    color: var(--text);
    display: inline-block;
    font-size: func.rem(12);
    font-weight: 600;
    padding: func.fluid(16, 2.2vw, 20) func.rem(24);
    position: relative;
    text-align: left;
    transition: background-color .4s ease,
                color .4s ease;
    width: func.rem(200);

    &::before,
    &::after {
      content: "";
      background-color: var(--text);
      height: 6px;
      position: absolute;
      transition: transform .3s ease,
                  background-color .4s ease;
      width: 2px;
    }

    &::before {
      right: func.rem(28);
      transform: translateY(50%) rotate(-45deg);
    }

    &::after {
      right: func.rem(24);
      transform: translateY(50%) rotate(45deg);
    }

    &[aria-expanded='true'] {
      
      &::before {
        transform: translateY(50%) rotate(-135deg);
      }

      &::after {
        transform: translateY(50%) rotate(135deg);
      }

      + #{$root}__selections {
        max-height: func.rem(300);
        visibility: visible;
      }
    }
  }

  &__selections {
    background-color: var(--element);
    box-shadow: 0 0 6px 2px rgba(48, 48, 48, 0.1);
    color: var(--text);
    font-size: func.rem(12);
    max-height: 0;
    overflow: hidden;
    padding-left: func.rem(24);
    position: absolute;
    top: func.fluid(52, 6vw, 60);
    transition: max-height .3s ease,
                background-color .4s ease,
                color .4s ease,
                visibility .01s ease;
    width: func.rem(200);
    visibility: hidden;
    z-index: 10;

    &:focus {
      outline: none;
    }
  }

  &__option {
    padding: func.rem(4) 0;

    &:first-of-type {
      margin-top: func.rem(12);
    }

    &:last-of-type {
      margin-bottom: func.rem(12);
    }

    &.selected {
      background-color: var(--dropdown);
    }
  }
}

.country-grid {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fill, func.rem(264));
  gap: func.fluid(40, 9vw, 74) func.rem(16);
}

.country {
  background-color: var(--element);
  border-radius: .25rem;
  box-shadow: 0 0 6px 2px rgba(48, 48, 48, 0.1);
  color: var(--text);
  overflow: hidden;
  transition: background-color .4s ease,
              color .4s ease;

  &:focus-within {
    outline: 2px dashed rgb(104, 190, 205);
    outline-offset: 2px;
  }

  &__flag {
    height: func.rem(160);
    object-fit: cover;
    width: 100%;
  }

  &__name {
    font-size: func.rem(18);
    font-weight: 800;
    padding: func.rem(25) func.rem(24) func.rem(0);

    > a {
      color: rgb(0, 0, 0);
    }
  }

  &__information-container {
    font-size: func.rem(14);
    padding: func.rem(16) 0 func.rem(30) func.rem(24);
  }

  &__information {
    margin-bottom: func.rem(8);

    span {
      font-weight: 600;
      margin-right: .25rem;
    }
  }
}
.paginate {
  padding-top: func.fluid(16, 3vw, 32);

  &__toggler {
    background-color: var(--element);
    box-shadow: 0 0 6px 4px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    color: var(--text);
    display: block;
    font-weight: 600;
    margin: 0 auto;
    padding: func.fluid(8, 3vw, 14) func.fluid(16, 4vw, 24);
    transition: background-color .4s ease,
                color .4s ease;
  }
}


@media (min-width: 40.8125em) {

  .navigation {
    align-items: flex-start;
    display: flex;
    justify-content: space-between;
    margin-bottom: func.rem(48);
  }

  .searchbar {
    margin-bottom: 0;
    width: func.fluid(300, 36vw, 480);
  }

  .country-grid {
    justify-content: space-between;
  }
}

@media (min-width: 62.5em) {
  .filterbar {

    &__option {
      cursor: pointer;
      transition: transform .3s ease,
                  background-color .3s ease;

      &:hover {
        background-color: var(--dropdown);
        transform: translateX(5%);
      }
    }
  }
}