:root {
  --background: rgb(250, 250, 250);
  --text: rgb(17, 21, 23);
  --element: rgb(255, 255, 255);
  --input: rgb(133, 133, 133);
  --dropdown: rgba(112, 112, 112, 0.1);
  --information: rgb(87, 87, 87);
}

html {
  box-sizing: border-box;
  font-size: 100%;
}

ul,
ol,
ul {
  list-style: none;
  padding: 0;
}

body {
  min-height: 100vh;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class] {
  margin: 0;
}

a {
  outline: none;
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

input,
button,
textarea {
  border: none;
  font: inherit;
  outline: none;
}

button {
  color: inherit;
  cursor: pointer;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

@media (prefers-reduce-motion: reduce) {
  * {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.header {
  background-color: var(--element);
  box-shadow: 0 4px 8px 4px rgba(49, 49, 49, 0.1);
  color: var(--text);
  margin-bottom: clamp(1.5rem, 5vw, 3rem);
  padding: 2rem clamp(1rem, 8vw, 5rem) 1.875rem;
  transition: background-color 0.4s ease, color 0.4s ease;
}
.header__wrapper {
  align-items: center;
  display: flex;
  justify-content: space-between;
  max-width: 100rem;
  margin: 0 auto;
}
.header__landmark {
  font-size: clamp(0.875rem, 4vw, 1.5rem);
  font-weight: 800;
}

.colormodes {
  border: none;
  margin: 0;
  padding: 0;
  position: relative;
}
.colormodes__input {
  height: 0.875rem;
  left: 0;
  opacity: 0;
  position: absolute;
  pointer-events: none;
  width: 0.875rem;
}
.colormodes__input:focus-visible ~ .colormodes__last svg {
  outline: 2px dashed #68becd;
  outline-offset: 1px;
}
.colormodes__input:first-of-type {
  right: 0;
}
.colormodes__input:first-of-type:checked + label {
  z-index: -1;
}
.colormodes__toggler {
  color: var(--text);
  font-size: clamp(0.75rem, 2vw, 1rem);
  font-weight: 600;
  transition: color 0.4s ease;
}
.colormodes__toggler:first-of-type {
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
}
.colormodes__toggler:last-of-type {
  align-items: center;
  display: flex;
}
.colormodes__icon {
  margin-right: 0.5625rem;
  height: clamp(0.8125rem, 2vw, 1rem);
  width: clamp(0.8125rem, 2vw, 1rem);
}
.colormodes__icon path {
  transition: fill 0.4s ease;
}
.colormodes__icon path:first-of-type {
  fill: #FFFFFF;
}
.colormodes__icon path:last-of-type {
  fill: var(--text);
}

@media (min-width: 62.5em) {
  .colormodes__last {
    cursor: pointer;
  }
}
body {
  background-color: var(--background);
  font-family: "Nunito Sans", sans-serif;
  outline: none;
  transition: background-color 0.4s ease;
}

button:focus-visible,
input:focus-visible {
  outline: 2px dashed #68becd;
  outline-offset: 2px;
}

.darkmode {
  --background: hsl(207, 26%, 17%);
  --text: hsl(0, 0%, 100%);
  --element: hsl(209, 23%, 22%);
  --input: hsl(0, 0%, 100%);
  --dropdown: rgba(208, 249, 255, 0.411);
  --information: rgb(201, 201, 201);
}

.country-page {
  outline: none;
  padding: clamp(1rem, 4vw, 2rem) clamp(1.75rem, 7vw, 5rem) 2.5rem;
}
.country-page__maxwidth {
  max-width: 100rem;
  margin: 0 auto;
}
.country-page h3 {
  color: var(--text);
  font-weight: 800;
}
.country-page__back {
  background-color: var(--element);
  border-radius: 4px;
  box-shadow: 0 0 6px 2px rgba(48, 48, 48, 0.1);
  color: var(--information);
  display: inline-block;
  font-size: 0.875rem;
  font-weight: 600;
  padding: 0.4375rem 1.5rem 0.375rem;
  transition: background-color 0.4s ease, color 0.4s ease;
}
.country-page__back:focus-visible {
  outline: 2px dashed #68becd;
  outline-offset: 2px;
}
.country-page__back:focus-visible svg {
  -webkit-transform: translateX(-25%);
          transform: translateX(-25%);
}
.country-page__back svg {
  margin-right: 0.5625rem;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}
.country-page__back svg path {
  fill: var(--text);
}
.country-page__article {
  margin-top: 4rem;
  transition: background-color 0.4s ease, color 0.4s ease;
}
.country-page__header {
  padding-bottom: 1.5rem;
}
.country-page__image {
  height: 14.3125rem;
  object-fit: cover;
}
.country-page__name {
  color: var(--text);
  font-weight: 800;
  font-size: 1.375rem;
  margin-top: 2.75rem;
}
.country-page__name_desktop {
  color: var(--text);
  display: none;
  transition: color 0.4s ease;
}
.country-page__informations-holder {
  padding-bottom: 2.25rem;
}
.country-page__information {
  color: var(--information);
  font-size: 0.875rem;
  margin-bottom: 1rem;
}
.country-page__information span {
  color: var(--text);
  font-weight: 600;
  margin-right: 0.25rem;
}
.country-page__information:nth-of-type(6) {
  margin-top: 2rem;
}
.country-page__borders {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem 0.5rem;
  padding-top: 1.125rem;
}
.country-page__border {
  flex-basis: 6rem;
}
.country-page__border a {
  background-color: var(--element);
  border-radius: 0.25rem;
  box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.1);
  color: var(--text);
  display: inline-block;
  font-size: 0.75rem;
  margin-bottom: 0.375rem;
  padding: 0.375rem;
  text-align: center;
  width: 100%;
}
.country-page__border a:focus-visible {
  outline: 2px dashed #68becd;
  outline-offset: 2px;
}

@media (min-width: 43.75em) {
  .country-page__container {
    display: flex;
  }
  .country-page__img-holder {
    height: clamp(14.3125rem, 30vw, 25rem);
    width: clamp(21.46875rem, 40vw, 35rem);
  }
  .country-page__image {
    height: 100%;
    width: 100%;
  }
  .country-page__informations-holder, .country-page__borders-holder {
    flex-basis: 50%;
  }
}
@media (min-width: 62.5em) {
  .country-page__article {
    display: flex;
    gap: 0 clamp(3.75rem, 8.4vw, 7.5rem);
  }
  .country-page__header {
    flex-basis: 44%;
  }
  .country-page__name {
    display: none;
  }
  .country-page__container {
    display: block;
    flex-basis: 56%;
    padding: 2.375rem 0 0 0;
  }
  .country-page__name_desktop {
    display: block;
  }
  .country-page__informations-holder {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-top: 1.75rem;
  }
  .country-page__information {
    font-size: clamp(0.875rem, 1.5vw, 1rem);
  }
  .country-page__information:nth-of-type(2), .country-page__information:nth-of-type(3), .country-page__information:nth-of-type(5) {
    grid-column: 1/2;
  }
  .country-page__information:nth-of-type(4) {
    grid-column: 1/3;
  }
  .country-page__information:nth-of-type(6), .country-page__information:nth-of-type(7), .country-page__information:last-of-type {
    grid-column: 2/3;
  }
  .country-page__information:nth-of-type(6) {
    grid-row: 1/2;
    margin-top: 0;
  }
  .country-page__information:nth-of-type(7) {
    grid-row: 2/3;
  }
  .country-page__information:last-of-type {
    grid-row: 3/4;
  }
  .country-page__borders-holder {
    align-items: flex-start;
    display: flex;
  }
  .country-page__borders-holder h3 {
    font-size: 1rem;
    font-weight: 600;
    min-width: 9.25rem;
  }
  .country-page__borders {
    padding-top: 0;
    width: 100%;
  }
}
.homepage {
  padding: 0 clamp(1rem, 7vw, 5rem) 1.5rem;
}
.homepage__maxwidth {
  max-width: 100rem;
  margin: 0 auto;
}

.navigation {
  margin-bottom: 2rem;
}

.searchbar {
  background-color: var(--element);
  color: var(--input);
  font-size: clamp(0.75rem, 3vw, 1rem);
  margin-bottom: 2.5rem;
  transition: background-color 0.4s ease, color 0.4s ease;
}
.searchbar__wrapper {
  position: relative;
}
.searchbar__wrapper:focus-within .searchbar__reset {
  opacity: 1;
  visibility: visible;
}
.searchbar__input {
  border-radius: 4px;
  background-color: transparent;
  box-shadow: 0 0 6px 2px rgba(48, 48, 48, 0.1);
  color: var(--input);
  font-weight: 600;
  height: clamp(3rem, 8vw, 3.5rem);
  padding: 0 0 0 4.625rem;
  transition: color 0.4s ease;
  width: 100%;
}
.searchbar__input.typing + .searchbar__label, .searchbar__input:focus + .searchbar__label {
  left: 4.375rem;
  -webkit-transform: translateY(-160%) scale(0.9);
          transform: translateY(-160%) scale(0.9);
}
.searchbar__label {
  left: 4.625rem;
  position: absolute;
  pointer-events: none;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  transition: left 0.3s ease, -webkit-transform 0.3s ease;
  transition: transform 0.3s ease, left 0.3s ease;
  transition: transform 0.3s ease, left 0.3s ease, -webkit-transform 0.3s ease;
}
.searchbar__icon {
  height: clamp(0.875rem, 3vw, 1rem);
  left: 2rem;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: clamp(0.875rem, 3vw, 1rem);
}
.searchbar__icon path {
  fill: var(--input);
  transition: fill 0.4s ease;
}
.searchbar__reset {
  background-color: transparent;
  opacity: 0;
  position: absolute;
  right: 2rem;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  transition: opacity 0.3s ease, visibility 0.3s ease;
  visibility: none;
}
.searchbar__reset:focus-visible svg {
  -webkit-transform: rotate(25deg);
          transform: rotate(25deg);
}
.searchbar__reset-icon {
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}
.searchbar__reset-icon path {
  fill: var(--input);
  transition: fill 0.3s ease;
}

.filterbar__container {
  position: relative;
}
.filterbar__toggler {
  background-color: var(--element);
  box-shadow: 0 0 6px 2px rgba(48, 48, 48, 0.1);
  border-radius: 4px;
  color: var(--text);
  display: inline-block;
  font-size: 0.75rem;
  font-weight: 600;
  padding: clamp(1rem, 2.2vw, 1.25rem) 1.5rem;
  position: relative;
  text-align: left;
  transition: background-color 0.4s ease, color 0.4s ease;
  width: 12.5rem;
}
.filterbar__toggler::before, .filterbar__toggler::after {
  content: "";
  background-color: var(--text);
  height: 6px;
  position: absolute;
  transition: background-color 0.4s ease, -webkit-transform 0.3s ease;
  transition: transform 0.3s ease, background-color 0.4s ease;
  transition: transform 0.3s ease, background-color 0.4s ease, -webkit-transform 0.3s ease;
  width: 2px;
}
.filterbar__toggler::before {
  right: 1.75rem;
  -webkit-transform: translateY(50%) rotate(-45deg);
          transform: translateY(50%) rotate(-45deg);
}
.filterbar__toggler::after {
  right: 1.5rem;
  -webkit-transform: translateY(50%) rotate(45deg);
          transform: translateY(50%) rotate(45deg);
}
.filterbar__toggler[aria-expanded=true]::before {
  -webkit-transform: translateY(50%) rotate(-135deg);
          transform: translateY(50%) rotate(-135deg);
}
.filterbar__toggler[aria-expanded=true]::after {
  -webkit-transform: translateY(50%) rotate(135deg);
          transform: translateY(50%) rotate(135deg);
}
.filterbar__toggler[aria-expanded=true] + .filterbar__selections {
  max-height: 18.75rem;
  visibility: visible;
}
.filterbar__selections {
  background-color: var(--element);
  box-shadow: 0 0 6px 2px rgba(48, 48, 48, 0.1);
  color: var(--text);
  font-size: 0.75rem;
  max-height: 0;
  overflow: hidden;
  padding-left: 1.5rem;
  position: absolute;
  top: clamp(3.25rem, 6vw, 3.75rem);
  transition: max-height 0.3s ease, background-color 0.4s ease, color 0.4s ease, visibility 0.01s ease;
  width: 12.5rem;
  visibility: hidden;
  z-index: 10;
}
.filterbar__selections:focus {
  outline: none;
}
.filterbar__option {
  padding: 0.25rem 0;
}
.filterbar__option:first-of-type {
  margin-top: 0.75rem;
}
.filterbar__option:last-of-type {
  margin-bottom: 0.75rem;
}
.filterbar__option.selected {
  background-color: var(--dropdown);
}

.country-grid {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fill, 16.5rem);
  gap: clamp(2.5rem, 9vw, 4.625rem) 1rem;
}

.country {
  background-color: var(--element);
  border-radius: 0.25rem;
  box-shadow: 0 0 6px 2px rgba(48, 48, 48, 0.1);
  color: var(--text);
  overflow: hidden;
  transition: background-color 0.4s ease, color 0.4s ease;
}
.country:focus-within {
  outline: 2px dashed #68becd;
  outline-offset: 2px;
}
.country__flag {
  height: 10rem;
  object-fit: cover;
  width: 100%;
}
.country__name {
  font-size: 1.125rem;
  font-weight: 800;
  padding: 1.5625rem 1.5rem 0rem;
}
.country__name > a {
  color: var(--text);
}
.country__information-container {
  font-size: 0.875rem;
  padding: 1rem 0 1.875rem 1.5rem;
}
.country__information {
  margin-bottom: 0.5rem;
}
.country__information span {
  font-weight: 600;
  margin-right: 0.25rem;
}

.paginate {
  padding-top: clamp(1rem, 3vw, 2rem);
}
.paginate__toggler {
  background-color: var(--element);
  box-shadow: 0 0 6px 4px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  color: var(--text);
  display: block;
  font-weight: 600;
  margin: 0 auto;
  padding: clamp(0.5rem, 3vw, 0.875rem) clamp(1rem, 4vw, 1.5rem);
  transition: background-color 0.4s ease, color 0.4s ease;
}

@media (min-width: 40.8125em) {
  .navigation {
    align-items: flex-start;
    display: flex;
    justify-content: space-between;
    margin-bottom: 3rem;
  }

  .searchbar {
    margin-bottom: 0;
    width: clamp(18.75rem, 36vw, 30rem);
  }

  .country-grid {
    justify-content: space-between;
  }
}
@media (min-width: 62.5em) {
  .filterbar__option {
    cursor: pointer;
    transition: background-color 0.3s ease, -webkit-transform 0.3s ease;
    transition: transform 0.3s ease, background-color 0.3s ease;
    transition: transform 0.3s ease, background-color 0.3s ease, -webkit-transform 0.3s ease;
  }
  .filterbar__option:hover {
    background-color: var(--dropdown);
    -webkit-transform: translateX(5%);
            transform: translateX(5%);
  }
}
/*# sourceMappingURL=style.css.map */