
:root {
  --background: rgb(250, 250, 250);
  --text: rgb(17, 21, 23);
  --element: rgb(255, 255, 255);
  --input: rgb(133, 133, 133);
  --dropdown: rgba(197, 63, 63, 0.1);
  --information: rgb(87, 87, 87);
}
